<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Angkatan - Pilih Prodi</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" href="/"><img src="../images/logo.png" width="150px" alt="SI Kurikulum"/></a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link" href="#">Beranda
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Kurikulum</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Mata Kuliah</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Angkatan</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search"/>
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 card" style="margin: 25px; padding: 25px">
				<form action="/kurikulum/angkatan" method="GET">
					<h4>Fakultas</h4>
					<select disabled="true" class="form-control" name="kt">
						<option th:value="${fakultas.id_fakultas}"
							th:text="${fakultas.nama_fakultas}"></option>
					</select>
					<h4>Prodi</h4>
					<select class="form-control" name="prodi">
						<option th:each="prodi : ${listProdi}"
							th:value="${prodi.id_prodi}" th:text="${prodi.nama_prodi}"></option>
					</select> <br />

					<button type="submit" class="btn btn-primary">Lihat</button>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</body>
</html>