<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tambah Kurikulum</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script> -->
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Beranda</a></li>
			<li class="breadcrumb-item"><a href="/kurikulum">Kurikulum</a></li>
			<li class="breadcrumb-item active" aria-current="page">Tambah Kurikulum</li>
		</ol>
	</nav>
	<div class="container" style="margin-bottom:100px">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<center>
					<h3>Tambah Kurikulum</h3>
				<form action="/kurikulum/add/submit" method="post"
					th:object="${kurikulum}">
					<table class="table-condensed" style="margin-top: 60px; width: 70%">
						<tbody>
							<tr>
								<td style="padding: 10px 20px; vertical-align: middle;"><label for="kode_kurikulum">Kode
										Kurikulum</label></td>
								<td><input class="form-control"
									type="text" name="kode_kurikulum" th:field="*{kode_kurikulum}" readonly="true" /></td>
							</tr>
							<tr>
								<td style="padding: 10px 20px; vertical-align: middle;"><label for="nama_kurikulum">Nama
										Kurikulum</label></td>
								<td><input class="form-control"
									type="text" name="nama_kurikulum" th:field="*{nama_kurikulum}" /></td>
							</tr>
							<tr>
								<td style="padding: 10px 20px; vertical-align: middle;"><label for="jumlah_sks_wajib">Jumlah
										SKS Wajib</label></td>
								<td><input class="form-control"
									type="text" name="jumlah_sks_wajib"
									th:field="*{jumlah_sks_wajib}" /></td>
							</tr>
							<tr>
								<td style="padding: 10px 20px; vertical-align: middle;"><label for="jumlah_sks_pilihan">Jumlah
										SKS Pilihan</label></td>
								<td><input class="form-control"
									type="text" name="jumlah_sks_pilihan"
									th:field="*{jumlah_sks_pilihan}" /></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<button type="submit" class="btn btn-success pull-right" style="margin-left: 10px; margin-top: 10px">Simpan</button>
									<a th:href="'/kurikulum/viewall'" class="btn btn-danger pull-right" style="margin-top: 10px">Batal</a>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
				</center>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>