<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lihat Kurikulum</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Beranda</a></li>
			<li class="breadcrumb-item"><a href="#">Kurikulum</a></li>
			<li class="breadcrumb-item"><a href="#">FASILKOM</a></li>
			<li class="breadcrumb-item active" aria-current="page">Sistem
				Informasi</li>
		</ol>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				<h1 th:text="${kurikulum.nama_kurikulum}">Kurikulum XXXX</h1>
				<div class="pull-right" style="margin-bottom: 20px">
					
				</div>
				<table class="table table-bordered" style="margin-top:30px; text-align:center; width:70%">
						<thead style="margin-top:30px; width:70%">
							<tr>
								<td>No</td>
								<td>Kode Mata Kuliah</td>
								<td>Nama Mata Kuliah</td>
								<td>SKS</td>
							</tr>
						</thead>
						<tbody style="margin-top:30px; width: 70%">
							<tr th:each="matkulTerm1,iterationStatus:${matkulTerm1}">
							<td th:text="${iterationStatus.count}">1</td>
							<td th:text="${matkulTerm1.kode_matkul}">Kode Mata Kuliah</td>
							<td th:text="${matkulTerm1.nama_matkul}">Nama Mata Kuliah</td>
							<td th:text="${matkulTerm1.jumlah_sks}">SKS</td></tr>
						</tbody>
				</table>
				<table class="table table-bordered" style="margin-top:30px; text-align:center; width:20%">
						<thead style="margin-top:30px; width:20%">
							<tr>
								<td>Status</td>
								<td>Action</td>
							</tr>
						</thead>
						<tbody style="margin-top:30px; width: 20%">
							<tr th:each="matkulKurikulumTerm1ha,iterationStatus:${matkulKurikulumTerm1}">
							<td th:text="${matkulKurikulumTerm1ha.status_matkul}">Status</td>
							<td>
								<a th:href="'/matkul-kurikulum/update/' + ${kurikulum.id} + '/' + ${matkulKurikulumTerm1ha.id}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								<a th:href="'/matkul-kurikulum/delete/' + ${kurikulum.id} + '/' + ${matkulKurikulumTerm1ha.id}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
							</td>
							</tr>
						</tbody>
				</table>
			</div>
			<div class="col-md-2"></div>	
		</div>
	</div>
	<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>