<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubah Kurikulum</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script> -->
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Beranda</a></li>
			<li class="breadcrumb-item"><a href="#">Kurikulum</a></li>
			<li class="breadcrumb-item"><a href="#">FASILKOM</a></li>
			<li class="breadcrumb-item"><a href="#">Sistem Informasi</a></li>
			<li class="breadcrumb-item active" aria-current="page">Term 1</li>
		</ol>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				<center>
					<h3>Ubah Kurikulum</h3>
				</center>
				<form action="/kurikulum/update/submit" method="GET"
					th:object="${kurikulum}">
					<table>
						<tbody>
							<tr>
								<td class="col-sm-2"><label for="term">Term</label></td>
								<td class="col-sm-4"><input class="form-control"
									type="text" name="term" th:field="*{term}" /></td>
							</tr>
							<tr>
								<td class="col-sm-2"><label for="kode_kurikulum">Kode
										Kurikulum</label></td>
								<td class="col-sm-4"><input class="form-control"
									type="text" name="kode_kurikulum" th:field="*{kode_kurikulum}" /></td>
							</tr>
							<tr>
								<td class="col-sm-2"><label for="nama_kurikulum">Nama
										Kurikulum</label></td>
								<td class="col-sm-4"><input class="form-control"
									type="text" name="nama_kurikulum" th:field="*{nama_kurikulum}" /></td>
							</tr>
							<tr>
								<td class="col-sm-2"><label for="jumlah_sks_wajib">Jumlah
										SKS Wajib</label></td>
								<td class="col-sm-4"><input class="form-control"
									type="text" name="jumlah_sks_wajib"
									th:field="*{jumlah_sks_wajib}" /></td>
							</tr>
							<tr>
								<td class="col-sm-2"><label for="jumlah_sks_pilihan">Jumlah
										SKS Pilihan</label></td>
								<td class="col-sm-4"><input class="form-control"
									type="text" name="jumlah_sks_pilihan"
									th:field="*{jumlah_sks_pilihan}" /></td>
							</tr>
						</tbody>
					</table>
				</form>
				<div class="pull-right" style="margin-top: 20px; margin-right: 20px">
					<a th:href="'/kurikulum/add/'" class="btn btn-danger">Batal</a> <a
						th:href="'/kurikulum/add/'" class="btn btn-success">Ubah</a>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>